{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block styles -%}
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='styles/cards.css')}}">
{% endblock %}


{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}
{% block content %}

<div class="row">
       <div class="custom-align">
          <!-- Adding bootstrap table classes to style a table-->
          <table class="table table-hover table-striped text-center">
             <thead>
                <tr>
                   <th scope="col">Number</th>
                   <th scope="col">Name</th>
                    <th scope="col">Extension</th>
                    <th scope="col">Japanese Name</th>
                </tr>
             </thead>

             <tbody class="text-left">
               {% for odx, row in cards.iterrows() %}
               <tr>
                   <td> <a class="btn" rel="popover" data-img={{ row['cardImageUrl'] }}> {{ row['cardNumber'] }} </a></td>
                   {% if row['owned'] %}
                   <td><input type="checkbox" name="id" onChange="handleChange(this, '{{ row['cardName'] }}', {{ row['cardNumber'] }}, '{{ ext_code }}')" checked> {{ row['cardName'] }}</td>
                   {% else %}
                   <td><input type="checkbox" name="id" onChange="handleChange(this, '{{ row['cardName'] }}', {{ row['cardNumber'] }}, '{{ ext_code }}')"> {{ row['cardName'] }}</td>
                   {% endif %}
                   <td><a id="extension-title"
                                                    href="extension/{{ row['cardExtensionCode'] }}_{{ row['extensionName'] }}"
                                                    target="_blank"> {{ row['extensionName'] }} </a></td>
                   <td> <p>{{ row['cardJapaneseName'] }}</p></td>
               </tr>
               {% endfor %}
             </tbody>
          </table>
       </div>
</div>

<script>
   $('a[rel=popover]').popover({
   html: true,
   trigger: 'hover',
   placement: 'auto right',
   content: function(){return '<img src="'+$(this).data('img') + '" style="width:360px;height:500px;"/>';}
   });
</script>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.4.1/jquery.min.js"></script>
<script type="text/javascript">

      function handleChange(sel, cardName, cardNumber, cardExtensionCode){
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
             $.ajax({
                 url: "{{ url_for('frontend.data_post') }}",
                 method: "POST",
                 contentType: "application/json",
                 dataType: 'json',
                 data: JSON.stringify( {"cardName": cardName, "cardNumber": cardNumber, "cardExtensionCode": cardExtensionCode, "owned": sel.checked})
             });
         }

      function deleteExtension(extensionCode){
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
             $.ajax({
                 url: "{{ url_for('frontend.delete_ext') }}",
                 method: "POST",
                 contentType: "application/json",
                 dataType: 'json',
                 data: JSON.stringify( {"extensionCode": extensionCode})
             });
         }
 </script>
{%- endblock %}