{# This simple template derives from ``base.html``. See ``base.html`` for
    more information about template inheritance. #}
 {%- extends "base.html" %}
 
 {# Loads some of the macros included with Flask-Bootstrap. We are using the
    utils module here to automatically render Flask's flashed messages in a
    bootstrap friendly manner #}
 {% import "bootstrap/utils.html" as utils %}

 {% block styles -%}
 {{super()}}
 <link rel="stylesheet" type="text/css"
       href="{{url_for('static', filename='styles/app.css')}}">
{% endblock %}

 
 
 {# Inside the ``content`` is where you should place most of your own stuff.
    This will keep scripts at the page end and a navbar you add on later
    intact. #}
 {% block content %}
   <div class="container">
   {%- with messages = get_flashed_messages(with_categories=True) %}
   {%- if messages %}
     <div class="row">
       <div class="col-md-12">
         {{utils.flashed_messages(messages)}}
       </div>
     </div>
   {%- endif %}
   {%- endwith %}
     <div class="jumbotron">
       <h1>Welcome to Poke-TCG-Tracker</h1>
       <p>This is an app to track your Japanese (only for now) Pokemon collection.</p>
       <p>
         <a class="btn btn-lg btn-default" role="button"
            href="/options" >If it's your first time, go to the option to fetch the data! </a>
       <a class="btn btn-lg btn-default" role="button"
        href="/extensions" >Go and check your collection</a>
       </p>
     </div>
       <div class="jumbotron">
           <h2>General progress of your general collection</h2>
            <div class="progress">
                            <!--                    The progress bar text-->
                            <span class="progress-value" style="font-size: medium;"><strong> {{ ownedNumber }} / {{ total }} </strong></span>
                            <!--                    The progress bar filling-->
                            <div class="progress-bar" role="progressbar"
                                 style="width: {{ percentage }}%; background-color:green;"></div>
            </div>
       </div>
        <div>
           TODO: GENERAL MONEY OF YOUR COLLECTION
       </div>
    </div>
 {%- endblock %}