{# This simple template derives from ``base.html``. See ``base.html`` for
more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
utils module here to automatically render Flask's flashed messages in a
bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" type="text/css"
      href="{{url_for('static', filename='styles/options.css')}}">
{% endblock %}


<!--{% with messages = get_flashed_messages() %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for message in messages %}-->
<!--      <li>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->

{# Inside the ``content`` is where you should place most of your own stuff.
This will keep scripts at the page end and a navbar you add on later
intact. #}

{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
// function to log the output
      $(document).ready(function(){
        var output_extensions = document.getElementById('output-extensions');
        var output_cards = document.getElementById('output-cards');

        var xhr_extensions = new XMLHttpRequest();
        if (window.countIntervalExt) clearInterval(window.countIntervalExt)
        xhr_extensions.open('GET', '{{ url_for('frontend.log_extensions_stream') }}', true);
        xhr_extensions.send();
        window.countIntervalExt = setInterval(function() {
          output_extensions.textContent = xhr_extensions.responseText;
        }, 500);

        var xhr_cards = new XMLHttpRequest();
        if (window.countIntervalCard) clearInterval(window.countIntervalCard)
        xhr_cards.open('GET', '{{ url_for('frontend.log_cards_stream') }}', true);
        xhr_cards.send();
        window.countIntervalCard = setInterval(function() {
          output_cards.textContent = xhr_cards.responseText;
        }, 500);

      });



</script>

<script type=text/javascript>
      function fetch_extensions() {
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            document.getElementById('extensions-button').disabled = true;
            setTimeout(function(){ document.getElementById("extensions-button").disabled = false; },50000);
            $.ajax({
                 url: "{{ url_for('frontend.launch_fetching_extensions') }}",
                 method: "POST"
             });
       }

       function fetch_cards() {
            var csrf_token = "{{ csrf_token() }}";

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
            document.getElementById('cards-button').disabled = true;
            setTimeout(function(){ document.getElementById("cards-button").disabled = false; },50000);
            $.ajax({
                 url: "{{ url_for('frontend.launch_fetching_cards') }}",
                 method: "POST"
             });
       }


</script>

{% with messages = get_flashed_messages(category_filter=["error"]) %}
  {% if messages %}
    <p>{{ get_flashed_messages(category_filter=["error"]) }}</p>
<!--    <p>{{ get_flashed_messages(category_filter=["success"]) }}</p>-->
    <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Danger!</strong> {{ get_flashed_messages(category_filter=["error"]) }}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
    <button type="button" class="btnExt btn-primary" data-toggle="modal" data-target="#modalExt">
        Launch extensions fetching
    </button>
    <div class="modal fade" id="modalExt" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalExtLabel">Fetch extensions (please don't close)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="logging_window">
                        <pre id="output-extensions"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="extensions-button" type="button" onclick="fetch_extensions()" class="btn btn-primary">
                        Fetch extensions
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <button type="button" class="btnCard btn-primary" data-toggle="modal" data-target="#modalCard">
        Launch cards fetching
    </button>

    <div class="modal fade" id="modalCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCardLabel">Fetch cards (please don't close)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="logging_window">
                        <pre id="output-cards"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="cards-button" type="button" onclick="fetch_cards()" class="btn btn-primary">Fetch
                        cards
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <button type="button" class="btnExport btn-primary"
            onclick="window.location.href='{{ url_for('frontend.export_data') }}';">Export your owned cards
    </button>
</div>

<div class="container">
    <button type="button" class="btnImport btn-primary" data-toggle="modal" data-target="#modalCardImport">
        Put the file here to import your cards owned
    </button>

    <div class="modal fade" id="modalCardImport" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCardImportLabel">Import your exported cards</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline center-block" action="{{ url_for('frontend.uploader') }}" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <div class="input-group">
                            <label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector">
                                {{ form.input_file(id="my-file-selector") }}
                                Browse...
                            </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%- endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/inputFileButton.js') }}"></script>
{% endblock %}