.thumbnail {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
transition: 0.3s;
min-width: 40%;
border-radius: 5px;
}

.thumbnail-description {
min-height: 40px;
}

.thumbnail:hover {
cursor: pointer;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.progress {
    text-align:center;
    width:100%;
    margin:15px auto;
}

.progress-bar {
    width:100%;
}

.progress-value {
    position:absolute;
    right:0;
    left:0;
}


#thumbnail-label{
    word-wrap: break-word;
}

#extension-title {
    word-wrap: break-word;
}

.form-control {
    position: center;
    width:100%;
}

.search-div {
    left: 350px;
}
